# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Vim swap files
*.swp
*.swo

#log files
*.log

#Tex compile files
*.fdb_latexmk
*.aux
*.out
*.sty
*.bbl
*.blg

#Existing plugins
filetransfer
scallion
torctl
shd-library.*
torrent
browser
torcontrol
echo
ping
examples
